<configuration>
	<system.serviceModel>
		<serviceHostingEnvironment>
			<serviceActivations>
				<add service="Sample.Operations.TrialsService" relativeAddress="Sample/Operations/TrialsService.svc" factory="Ziv.ServiceModel.Activation.DependencyInjectionServiceHostFactory"/>
				<add service="Sample.Operations.AnotherTrialService" relativeAddress="Sample/Operations/AnotherTrialService.svc" factory="Ziv.ServiceModel.Activation.DependencyInjectionServiceHostFactory"/>
			</serviceActivations>
		</serviceHostingEnvironment>
		<services>
			<service name="Sample.Operations.TrialsService" behaviorConfiguration="TrialsServiceBehavior">
				<endpoint address="ITrialsService" binding="wsHttpBinding" contract="Sample.Operations.ITrialsService"/>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
			</service>
			<service name="Sample.Operations.AnotherTrialService" behaviorConfiguration="AnotherTrialServiceBehavior">
				<endpoint address="IAnotherTrialService" binding="wsHttpBinding" contract="Sample.Operations.IAnotherTrialService"/>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="TrialsServiceBehavior">
					<serviceMetadata httpGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="true"/>
				</behavior>
				<behavior name="AnotherTrialServiceBehavior">
					<serviceMetadata httpGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="true"/>
				</behavior>
			</serviceBehaviors>
			<endpointBehaviors>
			</endpointBehaviors>
		</behaviors>
	</system.serviceModel>
	<system.web>
		<compilation debug="true"/></system.web></configuration>
