<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <netNamedPipeBinding>
        <binding name="customNamedPipeBinding" maxReceivedMessageSize="1000000" />
      </netNamedPipeBinding>
    </bindings>
    <services>
      <service name="SampleServiceImplementation.DoSomethingService">
        <endpoint address="" binding="netNamedPipeBinding" bindingConfiguration="customNamedPipeBinding"
            contract="SampleServiceContract.IDoSomethingService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="net.pipe://DoSomethingService" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <client>
      <endpoint address="net.pipe://DoSomethingService/" binding="netNamedPipeBinding"
          bindingConfiguration="customNamedPipeBinding" contract="SampleServiceContract.IDoSomethingService"
          name="ClientEP" kind="" endpointConfiguration="">
        <identity>
          <dns value="localhost" />
          <certificateReference storeName="My" storeLocation="LocalMachine"
              x509FindType="FindBySubjectDistinguishedName" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>