<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <system.serviceModel>
    <client>
      <endpoint
        address="http://localhost:50879/Sample/Operations/TrialsService.svc/ITrialsService"
        binding="wsHttpBinding"
        contract="Sample.Operations.ITrialsService" />
    </client>
  </system.serviceModel>
</configuration>
